# build artifacts
/bin/
/dist/
/ctdbtools
*.exe
*.dll
*.so
*.dylib
*.obj
*.o
*.a
*.out
*.log

# editor/IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# module caches
vendor/

# local refs
refs/

# test materials
materials/

# reference source code
cuetools.net/

dist